.contenedor{
    display: grid;
    background-color: red;
    width: 450px;
    height: 600px;
    gap: 50px;
    grid-template-columns: 200px 200px ;
    grid-template-rows: 200px 200px;
    grid-auto-flow: column;
    justify-content: center;
    align-content: center;
    grid-row: inherit;
}


.item{
    position: relative;
    background-color: #AFED09;
}


.item span{
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 50px 30px;
    font-size: 4rem;
    font-weight: bold;
    background-color: #66B924;
    
}



